.addCard {
    width: 384px;
    height: 280px;
    border-radius: 16px;
    padding: 28px 24px 24px 24px;
    box-shadow: 0 2px 13px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}