.card {
    width: 275px;
    height: 260px;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 30px 24px 20px 24px;
    background-color: rgba(220, 185, 255, 0.4);
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-shadow: 0 2px 13px rgba(0, 0, 0, 0.08);
}

.cardDeco {
    position: absolute;
    right: 0px;
    bottom: -10px;
    pointer-events: none;
    position: absolute;
    z-index: 0;
}

.toName {
    font-size: 24px;
    font-weight: 700;
}

.cardProfile {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
}

.moreProfiles {
    display:inline-flex;
    align-items:center;
    width: 33px;
    height: 28px;
    padding: 7px 5px;
    border-radius: 50px;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    color: gray;
    margin-left: -10px;
    position: relative;
    z-index: 0;

}

.cardProfile img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
  position: relative;
  margin-left: -10px;
}

.cardProfile img:first-child {
  margin-left: 0;
}

.writtenRecord {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.writtenRecord span {
    font-weight: bold;
}

.cardHeader {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.imojiWrapper {
    display: flex;
    align-items: end;
    margin-top: 17px;
    padding-top: 18px;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    position: absolute;
    z-index: 1;
}

.imoji {
    width: 66px;
    height: 36px;
    margin-right: 8px;
    background-color: rgba(0, 0, 0, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    padding: 8px 12px;
}